<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Resetear mi contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <ion-img src="assets/logo.png"></ion-img>
    </ion-col>
  </ion-row>
  <form>
    <ion-item lines="full">
      <ion-label position="floating" color="light">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </row>
    <small>
      Por favor, provea el nombre de usuario o correo electronico que uso para ingresar en este sitio.
    </small>
  </form>
</ion-content>
