ion-content{
    --background: #1c414f;
    --padding-start: 30px;
    --padding-end: 30px;
}
ion-item{
    --background: #213b75;
    --border-width: 4px;
    --border-radius: 10px;
    --border-color: #ffc300;
}
ion-input{
    --color: #ffc300;
}
.ion-justify-content-center{
    justify-content: center;
}
.ion-align-items-center{
    align-items:center;
}
ion-img{
    width: 100px;
    height: 100px;
}
